html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}
body{
    background: rgb(0, 0, 0);
    align-items: center;
    z-index: 1;
}

.headline{
    position: absolute;

    width: 90vw;

    left: 5vw;
    top: 5vh;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;

    background-image: linear-gradient(120deg,#d57eeb 0%, #fccb90 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.score{
    position: relative;

    width: 50vw;
    height: 25vh;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;

    background-image: linear-gradient(120deg, #67fd9e 0%, #52c3fc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

    border: none;
    z-index: 2;
}

.S-box{
    position: absolute;

    width: 50vw;
    height: 25vh;

    top: 25vh;
    left: 25vw;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    border: 5px solid rgb(25, 255, 186);
    background:black;
    border-radius: 20px;
    z-index: 1;
}

.score:hover{
    position: relative;

    width: 50vw;
    height: 25vh;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;

    background-image: none;
    background-clip: none;
    -webkit-background-clip: none;
    -moz-background-clip: none;
    -moz-text-fill-color: none;
    -webkit-text-fill-color: none;

    border: none;
    z-index: 2;
}
.S-box:hover{
    position: absolute;

    width: 50vw;
    height: 25vh;


    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;

    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    border-radius: 20px;
    z-index: 1;
}

.score-revealed{
    position: absolute;

    width: 51vw;
    height: 26vh;

    top: 25vh;
    left: 25vw;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    border: 5px solid rgb(25, 255, 186);
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    border-radius: 20px;
    z-index: 1;
}

.catchphrase{
    position: absolute;

    height: 20vh;
    width: 80vw;

    top: 60vh; 
    left: 10vw;

    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    z-index: 2;
}


.text{
    position: absolute;

    width: 90vw;

    left: 5vw;
    top: 75vh;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;

    background-image: linear-gradient(120deg,#d57eeb 0%, #fccb90 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}