
body{
    background: rgb(27, 27, 27);
    align-items: center;
    text-align: center;
    z-index: 1;
}

.title{
    position: absolute;

    width: 98vw;
    height: 20vh;

    top: 5vh;
    left: 1vw;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 7vh;
    color: white;
    border-radius: 20px;
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

    background-image: linear-gradient(120deg,#d57eeb 0%, #fccb90 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;    

 
}

#btn{
    position: absolute;

    width: 40vw;
    height: 3vh;


    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;

    background-image: linear-gradient(120deg, #67fd9e 0%, #52c3fc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

    border: none;
    z-index: 10;
    
}

.start{
    display: grid;
    align-items: center;
    text-align: center;
}

.S-box{
    position: absolute;

    width: 40vw;
    height: 12vh;

    top: 30vh;
    left: 30vw;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;

    display: grid;
    align-items: center;
    text-align: center;
    background:black;
    border-radius: 20px;
    z-index: 1;
}

.text{
    position: absolute;

    width: 90vw;

    left: 5vw;
    top: 43vh;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;
    text-align: center;
    background-image: linear-gradient(120deg, #67fd9e 0%, #52c3fc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}


.S-box:hover{
    position: absolute;

    font-family: Arial, Helvetica, sans-serif;

    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    border-radius: 20px;
    z-index: 1;
}